<div class="nav-div">
    <ul class="ul-div">
        <li class="li-nav"><a class="li-a-nav" href="/seat_chart">Seating Chart</a></li>
        <li class="li-nav"><a class="li-a-nav" href="/proposal">Proposal</a></li>
        <li class="li-nav"><a class="li-a-nav" href="/logout">Logout</a></li>
    </ul>
</div>