<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SeatSelector</title>
    </head>
    <body>
        {{{body}}}

        <noscript>
            Your browser doesn't support javaScript.
        </noscript>
    </body>
</html>