<div class="submit_form">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/submit_form.css">


    <h1 style="color: red;">PLEASE ENTER ONLY NUMBERS FOR TABLE AND SEAT</h1>
    <h3>Table: {{table_number}}</h3>
    <h3>Seat: {{seat_number}}</h3>
    <a href="/"><button>Return Home</button></a>
</div>