
<body>
    <div>
        <link rel="stylesheet" href="/css/index.css"/>
    </div>
    
    <div id = "PageHeader">
        Bryan
        <br>
        Professor Pogue
        <br>
        CPSC 247000
        <br>
        11/21/2021
    </div>
    <header id = "Center">
        <b>Seat Selector</b>
    </header>
    <p>
        For the final project, I will create an application that will allow a user to select the seat they are in to help keep track of attendance and contact tracing. 
	<br><br>
        From a technology standpoint, I will utilize a Node.js and Express website hosted through Microsoft Azure. Additionally, I plan on implementing a MongoDB Atlas database to store the applications data points.
    </p>
    <br>
    <div><b>Feature List (prioritized list):</b></div>
    <ul>
        <li>User landing page</li>
        <li>About page</li>
        <li class = "SubBullet">Details how the application is intended to be used</li>
        <li>Ability to sign in</li>
        <li>Ability to select a seat that you are in.</li>
    </ul>

    <div><b>Future Features List:</b></div>
    <ul>
        <li>User login</li>
        <li class = "SubBullet">Authenticate the user to help keep track of who is who.</li>
    </ul>

    <div><b>Basic Technical Features List:</b></div>
    <ul>
        <li>Node.js with Express Azure web page</li>
    </ul>

    <div><b>Advanced Technical Features:</b></div>
    <ul>
        <li>Store Data</li>
        <li class = "SubBullet">Store application data to a MongoDB Atlas database</li>
        <li>User login</li>
        <li class = "SubBullet">Ability to login to your account through authentication</li>
    </ul>
</body>
