<h3><i class="fa-solid fa-user-large"></i> Seat Selector</h3>

<div class="section">
    <p>Helps the professor keep track of people for contact tracing</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-4"><i class="fa-solid fa-g"></i> Login with Google</a>
</div>